@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
:root {
    --primary: #FFF6FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body{
    background-color: #1B004E;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
      
}
